<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EJS Templete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" class="form-control" name="username" id="" aria-describedby="emailHelpId" placeholder="">
        <input type="text" class="form-control" name="password" id="" aria-describedby="emailHelpId" placeholder="">
        <button type="submit">Login</button>
    <script src="/public/js/bootstrap.min.js"></script>
    <script>
        $.ajax({
            type: "POST",
            url: "/loginjson",
            data: JSON.stringify({firstName:"Mai", lastName:"Hoa"}),
            dataType: "json",
            contentType: "application/json"
        });
    </script>
</body>
</html>