<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EJS Templete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>
    <h1>Hello EJS : <%= ID %></h1>
    <h1>Query String : <%= queryString %></h1>
    <a name="" id="" class="btn btn-success" href="#" role="button">Loaded</a>
    <script src="/public/js/bootstrap.min.js"></script>
</body>
</html>